// import other scss files
@import './variables.scss';
@import './normalize.scss';

// Icons Styles

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-30 {
  font-size: 30px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.icon-btn {
  cursor: pointer;
  opacity: 0.5;
  user-select: none;
  &:hover {
    opacity: 0.8;
  }
}

// Tooltips on hover
.tooltip {
  position: relative;
  &:hover:after {
    content: attr(data-title);
    text-align: center;
    white-space: nowrap;
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 30%;
    padding: 7px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(12, 12, 12, 0.9);
    border-radius: 3px;
  }
  &:hover:before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 24px;
    left: 30%;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: rgba(12, 12, 12, 0.9) transparent;
  }
}
.tooltip.up-center {
  &:hover:after {
    top: -110%;
    left: -100%;
  }
  &:hover:before {
    top: -32%;
    border-width: 6px 6px 0 6px;
  }
}
