/* import other scss files */
@import './normalize.css';
@import './fonts.css';
@import './variables.css';

/* Icon button */
.icon-btn {
  cursor: pointer;
  opacity: 0.5;
  user-select: none;
}
.icon-btn:hover {
  opacity: 0.8;
}
.icon-btn.active {
  opacity: 0.7;
}
.icon-btn.active:hover {
  opacity: 1;
}

/* Tooltips on hover */
.tooltip {
  position: relative;
}
.tooltip:hover:before {
  content: '';
  z-index: 2;
  position: absolute;
  top: 24px;
  left: 30%;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: rgba(12, 12, 12, 0.9) transparent;
}
.tooltip:hover:after {
  content: attr(data-title);
  text-align: center;
  white-space: nowrap;
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 30%;
  padding: 7px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(12, 12, 12, 0.9);
  border-radius: 3px;
}
.tooltip.up-center:hover:after {
  top: -110%;
  left: -100%;
}
.tooltip.up-center:hover:before {
  top: -32%;
  border-width: 6px 6px 0 6px;
}
.scroll-ui {
  overflow-y: auto;
}
.scroll-ui::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.scroll-ui::-webkit-scrollbar-thumb {
  background-color: rgba(129, 129, 129, 0.2);
  border-radius: 10px;
}
